body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #3AABD5; */
    background-image:url(https://img.freepik.com/premium-photo/blue-denim-texture-background-jeans_653092-309.jpg);
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    width: 150px;
}

.checkout-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.checkout-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.checkout-container form {
    display: flex;
    flex-direction: column;
}

.checkout-container label {
    margin-bottom: 5px;
}

.checkout-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkout-container button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-container button:hover {
    background-color: #0056b3;
}
